Support alarm notifications

YANG allows the definition of notifications. Snabb's YANG libraries doesn't support notifications yet.

YANG notifications are explained at [RFC7950 Section 7.16](https://tools.ietf.org/html/rfc7950#section-7.16).

YANG Example:

```yang
notification link-failure {
   description
      "A link failure has been detected.";
   leaf if-name {
      type leafref {
         path "/interface/name";
      }
   }
   leaf if-admin-status {
      type admin-status;
   }
   leaf if-oper-status {
      type oper-status;
   }
}
```

NETCONF XML Example:

```xml
<notification xmlns="urn:ietf:params:netconf:capability:notification:1.0">
   <eventTime>2007-09-01T10:00:00Z</eventTime>
   <link-failure xmlns="urn:example:system">
      <if-name>so-1/2/3.0</if-name>
      <if-admin-status>up</if-admin-status>
      <if-oper-status>down</if-oper-status>
   </link-failure>
</notification>
```
**How to support them?**

Notifications are sent under certain circumstances that take place while updating the alarms model in the Leader. For instance, adding a new element to the alarm inventory generates an alarm-inventory-notification. The Leader will hold on its state all the notifications generated. Later these notifications will be consumed and pushed to remote peers.

To push the notifications to all the remote peers I add a new method that sends the notifications through the peer's open socket. In config listen I should manage incoming notification messages as well as pending replies.

~~Original plan (outdated):~~

~~A not very polished planning on how to support YANG notifications:~~
~~- [X] There's basic notification support at `lib/yang/schema.lua`. Schemas containing notifications should parse OK at this moment. Check if that's the case, if not add or improve support.~~
~~- [X] Add encoder/decoder of alarm-notifications in `lib/ptree/alarm_codec.lua`.~~
~~- [ ] When an `alarm-notification` is consumed it's sent to the other end-point of `config listen`.~~
~~- [X] If `config listen` is not being used the notification is printed out in stdout?~~

Fixed in https://github.com/Igalia/snabb/pull/1055