lwaftr does not generate icmpdest-unreachable for traffic non-matching binding-table

Dear all,

I am triggering a corner-case when testing the icmp-dest-unreach generation of lwaftr.
Depending on the traffic-pattern, the generation of icmp-dest-unreachable works or does not work.

Its a combination of
- proto (udp/icmp)
- if public IP is listed in the binding-table

**issue**
If the lwaftr receives an IPv4 icmp-echo-reply from internet, while the dest IPv4 is listed in the binding-table, but with no corresponding PSID, then the icmp-dest-unreachable will not be generated.

**whats working**
```
09:08:21.144270 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 42: 10.0.1.100.53 > 10.10.0.0.53: [|domain]
09:08:21.144317 02:cf:69:15:81:01 > 90:e2:ba:94:2a:bc, ethertype IPv4 (0x0800), length 88: 192.168.5.2 > 10.0.1.100: ICMP host 10.10.0.0 unreachable, length 54
```
[no-match-udp.pcap.gz](https://github.com/Igalia/snabb/files/566876/no-match-udp.pcap.gz)


**not-working**
```
09:10:16.952484 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 242: 10.0.1.100 > 10.10.0.0: ICMP echo reply, id 53, seq 0, length 208
```
[no-match-icmp.pcap.gz](https://github.com/Igalia/snabb/files/566877/no-match-icmp.pcap.gz)

both IPv4 frames towards the lwaftr have same src/dst IP/MAC. The one which works is UDP-SPORT 53. The one which does to work is ICMP-ID 53.

**the binding-table**
Binding-table is important here, as the dst-ip must be listed in the binding-table, but must not have a matching PSID (in this case we start with PSID=1 while offending packets use PSID=0)

```
psid_map {
  10.10.0.0 {psid_length=6, shift=10}
  10.10.0.1 {psid_length=6, shift=10}
...
  { ipv4=10.10.0.0, psid=1, b4=2a02:587:f710::40, aftr=0 }
  { ipv4=10.10.0.0, psid=2, b4=2a02:587:f710::41, aftr=0 }
  { ipv4=10.10.0.0, psid=3, b4=2a02:587:f710::42, aftr=0 }
```
[cg-binding_table.txt.s.gz](https://github.com/Igalia/snabb/files/566888/cg-binding_table.txt.s.gz)


**launching lwaftr**
```
lab@ubuntu1:~/vmxlwaftr/tests/issue-no-seen-icmp-dst-unreach$ sudo usr/local/bin/snabb  lwaftr run --conf snabbvmx-lwaftr-xe1.conf --on-a-stick 0000:81:00.1
```

**config-file**
```
lab@ubuntu1:~/vmxlwaftr/tests/issue-no-seen-icmp-dst-unreach$ cat snabbvmx-lwaftr-xe1.conf
hairpinning = false,
binding_table = binding_table.txt.s,
aftr_ipv6_ip = 2001:db8::1,
aftr_ipv4_ip = 192.168.5.2,
aftr_mac_inet_side = 02:cf:69:15:81:01,
inet_mac = 90:e2:ba:94:2a:bc,
aftr_mac_b4_side = 02:cf:69:15:81:01,
next_hop6_mac = 90:e2:ba:94:2a:bc,
ipv4_mtu = 9000,
ipv6_mtu = 9000,
vlan_tagging = false,
policy_icmpv4_incoming = allow,
policy_icmpv4_outgoing = allow,
policy_icmpv6_incoming = allow,
policy_icmpv6_outgoing = allow,
icmpv6_rate_limiter_n_packets = 300000,
icmpv6_rate_limiter_n_seconds = 4,
```

kindly have a look into this. Priority is low

thanks

christian


Thanks for the excellent report; we'll get on this.


Many thanks.

after further looking into it, it seemed I have to rephrase the above.
While I thought it is PSID-related, with todays testing of the same it just seemed to be proto-type related (ICMP or UDP). The influence of PSID it not seen in todays testing..

Please see below:

**sendp(e_b/v4_from_internet/reply_match,iface='p4p1')**
this is a valid packet matching the binding-table to verify proper operation and lwaftr properly performs encapsulation

```
04:00:02.428765 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 242: 10.0.1.100 > 10.10.0.0: ICMP echo reply, id 1024, seq 0, length 208
04:00:02.430009 02:cf:69:15:81:01 > 90:e2:ba:94:2a:bc, ethertype IPv6 (0x86dd), length 282: 2a02:587:f700::100 > 2a02:587:f710::40: 10.0.1.100 > 10.10.0.0: ICMP echo reply, id 1024, seq 0, length 208
```

**sendp(e_b/v4_no_match/reply_match,iface='p4p1')**
this is the one not working as expected. Packet does not match binding-table (192.168 is not listed in the binding-table) - as seen we miss the icmp-dest-unreachbale generated for this icmp-packet.

```
lab@ubuntu1:~/vmxlwaftr/tests/issue-no-seen-icmp-dst-unreach$ grep 192.168 binding_table.txt.s

04:10:47.892515 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 242: 192.168.0.0 > 192.168.1.100: ICMP echo reply, id 1024, seq 0, length 208
```

**sendp(e_b/v4_no_match/udp_match,iface='p4p1')**
this works fine. same IP-addresses as the non-working case, but UDP instead of ICMP

```
04:10:47.904269 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 42: 192.168.0.0.1024 > 192.168.1.100.53: [|domain]
04:10:47.904344 02:cf:69:15:81:01 > 90:e2:ba:94:2a:bc, ethertype IPv4 (0x0800), length 88: 192.168.5.2 > 192.168.0.0: ICMP host 192.168.1.100 unreachable, length 54
```

**sendp(e_b/v4_from_internet/udp_no_match,iface='p4p1')**
and thats the correction from the initial report. Packet is matching the public Ip in binding-table, but not matching PSID. in yesterdays testing there was no icmp-dest unreach generated, but today it is. Will need to look into it ...

```
lab@ubuntu1:~/vmxlwaftr/tests/issue-no-seen-icmp-dst-unreach$ grep 10.10.0.0 binding_table.txt.s
  10.10.0.0 {psid_length=6, shift=10}
  { ipv4=10.10.0.0, psid=1, b4=2a02:587:f710::40, aftr=0 }
  { ipv4=10.10.0.0, psid=2, b4=2a02:587:f710::41, aftr=0 }

04:10:47.916268 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 42: 10.0.1.100.53 > 10.10.0.0.53: [|domain]
04:10:47.916330 02:cf:69:15:81:01 > 90:e2:ba:94:2a:bc, ethertype IPv4 (0x0800), length 88: 192.168.5.2 > 10.0.1.100: ICMP host 10.10.0.0 unreachable, length 54
```

*\* scapy script **

```
lab@cgrafubuntu2:~/cg-ubuntu2/testing1.0$ cat test-icmp.py
#!/usr/bin/python

from scapy.all import *
size="a" * 200

e_r=Ether(src='90:e2:ba:94:2a:bc', dst='5c:45:27:15:a0:0d')
e_b=Ether(src='90:e2:ba:94:2a:bc', dst='02:cf:69:15:81:01')
v6=IPv6(src='2a02:587:f710::40',dst='2a02:587:f700::100')
v4_from_internet=IP(src='10.0.1.100',dst='10.10.0.0')
v4_to_internet=IP(dst='10.0.1.100',src='10.10.0.0')
v4_no_match=IP(dst='192.168.1.100',src='192.168.0.0')
request_match=ICMP(type=8, code=0, id=1024)/size
reply_match=ICMP(type=0, code=0, id=1024)/size
udp_match=UDP(sport=1024)
udp_no_match=UDP(sport=53)

for x in range(0,1):
        sendp(e_b/v4_from_internet/reply_match,iface='p4p1')
        #sendp(e_b/v6/v4_no_match/request_match,iface='p4p1')
        sendp(e_b/v4_no_match/reply_match,iface='p4p1')
        sendp(e_b/v4_no_match/udp_match,iface='p4p1')
        sendp(e_b/v4_from_internet/udp_no_match,iface='p4p1')
```

thanks

christian


Dear all,

a quick update on this - issue is still seen with latest snabb lwaftr:

```
lab@ubuntu1:~/latest-snabb-binary/snabb/src$ git log
commit e13962200c119c0665816672e541491701822bd9
Merge: 459b9a4 b84b46a
Author: Jessica Tallon <xray7224@users.noreply.github.com>
Date:   Wed Nov 30 10:43:32 2016 +0100

    Merge pull request #605 from Igalia/get-state-docs

    Add better documentation for config get-state
```

## used config and starting snabb lwaftr

**migrated.cfg**

```
binding-table {
  br-address 2a02:587:f700::100;
  psid-map {
    addr 10.10.0.10;
    psid-length 6;
    shift 10;
  }
  psid-map {
    addr 10.10.0.0;
    end-addr 10.10.0.1;
    psid-length 6;
    shift 10;
  }
  psid-map {
    addr 10.10.0.100;
    end-addr 10.10.0.106;
    psid-length 6;
    shift 10;
  }
  softwire {
    ipv4 10.10.0.0;
    psid 1;
    b4-ipv6 2a02:587:f710::40;
  }
  softwire {
    ipv4 10.10.0.0;
    psid 4;
    b4-ipv6 2a02:587:f710::43;
  }
  softwire {
    ipv4 10.10.0.0;
    psid 7;
    b4-ipv6 2a02:587:f710::46;
  }
  softwire {
    ipv4 10.10.0.0;
    psid 2;
    b4-ipv6 2a02:587:f710::41;
  }
  softwire {
    ipv4 10.10.0.0;
    psid 8;
    b4-ipv6 2a02:587:f710::47;
  }
  softwire {
    ipv4 10.10.0.0;
    psid 9;
    b4-ipv6 2a02:587:f710::48;
  }
  softwire {
    ipv4 10.10.0.0;
    psid 3;
    b4-ipv6 2a02:587:f710::42;
  }
  softwire {
    ipv4 10.10.0.0;
    psid 5;
    b4-ipv6 2a02:587:f710::44;
  }
  softwire {
    ipv4 10.10.0.0;
    psid 6;
    b4-ipv6 2a02:587:f710::45;
  }
  softwire {
    ipv4 10.10.0.0;
    psid 10;
    b4-ipv6 2a02:587:f710::49;
  }
}
external-interface {
  error-rate-limiting {
    packets 600000;
  }
  ip 192.168.5.2;
  mac 02:cf:69:15:81:01;
  mtu 9000;
  next-hop {
    mac 90:e2:ba:94:2a:bc;
  }
  reassembly {
    max-fragments-per-packet 40;
  }
}
internal-interface {
  error-rate-limiting {
    packets 300000;
    period 4;
  }
  ip 2001:db8::1;
  mac 02:cf:69:15:81:01;
  mtu 9000;
  next-hop {
    mac 90:e2:ba:94:2a:bc;
  }
  reassembly {
    max-fragments-per-packet 40;
  }
}
```

```
$ sudo ./snabb  lwaftr run --conf migrated.cfg --on-a-stick 0000:81:00.1
Warning: No NUMA memory affinity.
Pass --cpu to bind to a CPU and its NUMA node.
migrated.cfg: loading source configuration from migrated.cfg
[mounting /var/run/snabb/hugetlbfs]
```

With that configuration I am sending 3 IPv4 packets into lwaftr:  

- First packet get translated properly and showing that lwaftr is functional
- 2nd and 3rd packet do not match binding-table (packets use PSID 0, while binding-table starts with PSID 1)
- second packet is not matching the binding-table, but is UDP. Here an ICMP dest-runreach is generated
- third (last) packet is not matching binding-table as well, but is proto ICMP. Here the icmp dest. unreachable should have been generated as well, but this is not happening. The issue is opened because of the 3rd packet the lwaftr is not generating an icmp dest unreachable

```
$ sudo tcpdump -n -i p4p1 -e ether host 90:e2:ba:94:2a:bc
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on p4p1, link-type EN10MB (Ethernet), capture size 262144 bytes
# first packet
13:42:03.872948 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 42: 10.0.1.100.53 > 10.10.0.0.1024: [|domain]
13:42:03.873385 02:cf:69:15:81:01 > 90:e2:ba:94:2a:bc, ethertype IPv6 (0x86dd), length 100: 2a02:587:f700::100 > 2a02:587:f710::40: 10.0.1.100.53 > 10.10.0.0.1024: [|domain]

#2nd packet
13:42:03.884901 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 42: 10.0.1.100.53 > 10.10.0.0.53: [|domain]
13:42:03.885421 02:cf:69:15:81:01 > 90:e2:ba:94:2a:bc, ethertype IPv4 (0x0800), length 88: 192.168.5.2 > 10.0.1.100: ICMP host 10.10.0.0 unreachable, length 54

#3rd packet
13:42:03.897311 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 242: 10.0.1.100 > 10.10.0.0: ICMP echo reply, id 53, seq 0, length 208
```

## generate the packets via scapy  or use below provided pcap
```
lab@cgrafubuntu2:~/cg-ubuntu2/testing1.0$ cat test-icmp.py
#!/usr/bin/python

from scapy.all import *
size="a" * 200

e_r=Ether(src='90:e2:ba:94:2a:bc', dst='5c:45:27:15:a0:0d')
e_b=Ether(src='90:e2:ba:94:2a:bc', dst='02:cf:69:15:81:01')
v6=IPv6(src='2a02:587:f710::40',dst='2a02:587:f700::100')
v4_from_internet=IP(src='10.0.1.100',dst='10.10.0.0')
v4_to_internet=IP(dst='10.0.1.100',src='10.10.0.0')
v4_no_match=IP(dst='192.168.1.100',src='192.168.0.0')
request_match=ICMP(type=8, code=0, id=1024)/size
request_no_match=ICMP(type=8, code=0, id=53)/size
reply_match=ICMP(type=0, code=0, id=1024)/size
reply_no_match=ICMP(type=0, code=0, id=53)/size
udp_match4=UDP(dport=1024)
udp_match6=UDP(sport=1024)
udp_no_match=UDP(sport=53,dport=53)

response = raw_input("What traffic shall be generated [46]: ")

if response in [ '4',"" ]:
    for x in range(0,1):
        ## first packet, shows lwaftr proper function
        sendp(e_b/v4_from_internet/udp_match4,iface='p4p1')

        ## lwaftr creates valid icmpdest-unreachable
        ## second packet
        sendp(e_b/v4_from_internet/udp_no_match,iface='p4p1')

        ## valid frame, gets proper translated
        # sendp(e_b/v4_from_internet/reply_match,iface='p4p1')

        ## 3rd packet. not matching binding-table, but proto icmp
        ## doesn ot match binding-table, icmpdest-unreachbale not generated
        sendp(e_b/v4_from_internet/reply_no_match,iface='p4p1')

        #sendp(e_b/v4_no_match/reply_match,iface='p4p1')
        # sendp(e_b/v4_no_match/udp_match4,iface='p4p1')

if response in [ '6',"" ]:
    for x in range(0,1):
        sendp(e_b/v6/v4_to_internet/udp_match6,iface='p4p1')
        sendp(e_b/v6/v4_to_internet/udp_no_match,iface='p4p1')
        sendp(e_b/v6/v4_to_internet/request_match,iface='p4p1')
        sendp(e_b/v6/v4_to_internet/request_no_match,iface='p4p1')
        sendp(e_b/v6/v4_no_match/request_match,iface='p4p1')
```

## input-pcap
```
lab@cgrafubuntu2:~$ sudo tcpdump -n -i p4p1 -e ether host 90:e2:ba:94:2a:bc
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on p4p1, link-type EN10MB (Ethernet), capture size 262144 bytes
13:47:26.032405 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 42: 10.0.1.100.53 > 10.10.0.0.1024: [|domain]
13:47:26.044349 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 42: 10.0.1.100.53 > 10.10.0.0.53: [|domain]
13:47:26.056593 90:e2:ba:94:2a:bc > 02:cf:69:15:81:01, ethertype IPv4 (0x0800), length 242: 10.0.1.100 > 10.10.0.0: ICMP echo reply, id 53, seq 0, length 208
```
[input.pcap.gz](https://github.com/Igalia/snabb/files/622897/input.pcap.gz)

thanks

christian


Hi @chrgraf 

Sorry for the delay looking into this bug, and thanks again for the great report.

As you suggested it seems there's a missing ICMP error message for the third packet, as it doesn't match the binding table. I dove into the source code to check what's happening. In the code that manages incoming ICMP packets:

```
   if get_ipv4_proto(get_ethernet_payload(pkt)) == proto_icmp then
      -- RFC 7596 section 8.1 requires us to silently drop incoming
      -- ICMPv4 messages that don't match the binding table.
      counter.add(lwstate.counters["drop-in-by-rfc7596-icmpv4-bytes"], pkt.length)
      counter.add(lwstate.counters["drop-in-by-rfc7596-icmpv4-packets"])
      return drop_ipv4(lwstate, pkt, pkt_src_link)
   end
```

This snippet of code is the one that discards non-matching ICMP packets. Then I read more in detail section 8.1 of RFC 7596. This is the relevant paragraph:

```
2.  If the ICMP Type field is set to 0 or 8 (echo reply or request),
       then the lwAFTR MUST take the value of the ICMP Identifier field
       as the source port and use this value to look up the binding
       table for an encapsulation destination.  If a match is found, the
       lwAFTR forwards the ICMP packet to the IPv6 address stored in the
       entry; otherwise, it MUST discard the packet.
```

So to silently drop a non-matching ICMP packet is the expected behaviour according to the RFC. I understand this was confusion and seemed like a bug. I thought it was a bug too.

Now that the issue is clarified, I think we the issues can be closed. Agree?

Dear Diego,

This is a perfect match. Please have the issue closed and please excuse for reporting this wrongly.

Thanks

Christian

--------------------

Christian Graf
Senior Consulting Engineer
Telephone +49 5651/336174
Mobile +49 175/2929 167
cgraf@juniper.net
www.juniper.net

Juniper Networks GmbH
Sitz der Gesellschaft / Registered office: Oskar-Schlemmer-Str. 15, 80807 München
Registergericht / Commercial registry: München, HRB 205571
Geschäftsführer / Directors: Johannes Albers, Stephen Byrne, Terrance Floyd Spidell
_________________________________________________________________________

This email contains material that is confidential. The content of this email is for the sole use of the intended recipient(s).
Any review or distribution by persons other than the intended recipient(s) without the express permission of Juniper Networks is strictly prohibited.
If you are not the intended recipient, please contact the sender and delete/destroy all copies of this email and any related attachments.
Juniper does not guarantee the accuracy or completeness of third party materials or information

--------------------


From: Diego Pino <notifications@github.com<mailto:notifications@github.com>>
Reply-To: Igalia/snabb <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Freitag, 2. Dezember 2016 14:23
To: Igalia/snabb <snabb@noreply.github.com<mailto:snabb@noreply.github.com>>
Cc: Christian Graf <cgraf@juniper.net<mailto:cgraf@juniper.net>>, Mention <mention@noreply.github.com<mailto:mention@noreply.github.com>>
Subject: Re: [Igalia/snabb] lwaftr does not generate icmpdest-unreachable for traffic non-matching binding-table (#533)


Hi @chrgraf<https://github.com/chrgraf>

Sorry for the delay looking into this bug, and thanks again for the great report.

As you suggested it seems there's a missing ICMP error message for the third packet, as it doesn't match the binding table. I dove into the source code to check what's happening. In the code that manages incoming ICMP packets:

   if get_ipv4_proto(get_ethernet_payload(pkt)) == proto_icmp then
      -- RFC 7596 section 8.1 requires us to silently drop incoming
      -- ICMPv4 messages that don't match the binding table.
      counter.add(lwstate.counters["drop-in-by-rfc7596-icmpv4-bytes"], pkt.length)
      counter.add(lwstate.counters["drop-in-by-rfc7596-icmpv4-packets"])
      return drop_ipv4(lwstate, pkt, pkt_src_link)
   end


This snippet of code is the one that discards non-matching ICMP packets. Then I read more in detail section 8.1 of RFC 7596. This is the relevant paragraph:

2.  If the ICMP Type field is set to 0 or 8 (echo reply or request),
       then the lwAFTR MUST take the value of the ICMP Identifier field
       as the source port and use this value to look up the binding
       table for an encapsulation destination.  If a match is found, the
       lwAFTR forwards the ICMP packet to the IPv6 address stored in the
       entry; otherwise, it MUST discard the packet.


So to silently drop a non-matching ICMP packet is the expected behaviour according to the RFC. I understand this was confusion and seemed like a bug. I thought it was a bug too.

Now that the issue is clarified, I think we the issues can be closed. Agree?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Igalia/snabb/issues/533#issuecomment-264452854>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AU_G6k5WnBWGrFvA_BPZ8BtCXSuCuBgFks5rEBvbgaJpZM4KnV7G>.
