Deriving data syntax from schema

Hi :)  Following on from #517, we need to specify more about the grammar of config files for a given YANG schema.  We start from the base that the lexical syntax of the file is precisely YANG, specifically a sequence of YANG statements, where a statement in ABNF is:

```
     statement = keyword [argument] (";" / "{" *statement "}")
```

This is from RFC 6020.  OK but what statements are valid and what do they mean?  That's the problem I want to attack here: how to derive a data grammar from a schema.

So firstly let's take a schema.  Now _simplify_ it:
- Inline `grouping` into `uses`.
- Inline `submodule` into `include`.
- Inline `imports` into `module`.
- Inline `typedef` into their `type` uses (somehow).
- Resolve `if-feature` and `when` clauses
- Resolve all `augment` and `refine` nodes.

OK now we have a schema for which we have just the essentials: a `module` containing `container`, `leaf-list`, `list`, `leaf`, `choice`, and `anyxml`.  Let's ignore `anyxml` as we won't support it in any meaningful way.  Let's ignore `choice` for now as well just because I happen not to need it at the moment.  OK, so just `module` containing `container`, `leaf-list`, `list`, and `leaf`, along with a number of other fields like `default` and `mandatory` and so on.  Call `container`, `leaf-list`, `list`, and `leaf` _data nodes_.

I propose this function to derive data grammar from a simplified schema, then:

```
DataGrammar ::= StatementList
DataGrammar(node[kind=module]) = DataGrammarChildren(node)
DataGrammarChildren(node) = concatenation of DataGrammar(child) for all child data nodes
DataGrammar(node[kind=container, presence=true]) = node.id '{' DataGrammarChildren(node) '}'
DataGrammar(node[kind=container, presence=false]) = DataGrammarChildren(node)
DataGrammar(node[kind=leaf-list]) = (node.id ValueGrammar(node.type) ';')...
DataGrammar(node[kind=list]) = (node.id '{' DataGrammarChildren(node) '}')...
DataGrammar(node[kind=leaf]) = node.id ValueGrammar(node.type) ';'

ValueGrammar(type) = canonical representation of values of this type; see RFC 6020 section 9.2
```

Note that containers with `presence false` will not be present in the data.  This indicates that we need to revise the `snabb-softwire.yang`.  WDYT @xray7224 ?


Obviously `mandatory` informs whether or not a leaf node is required to be present in the data, also.


I have this working!  Will push soon.  This gets me close to having a compiler.  Right now it derives a data parser from the schema but it should derive a grammar and then make a parser and a compiler from the grammar I guess.


I want to add a restriction: for the `leaf` associative data type, I only want to support _either_ raw tables (following the sketch-of-a-definition in #517; basically, anything that maps to a ctable) or strings as keys.  In the former case we get to use ctable as the data type, and it supports multiple keys.  In the latter we have normal Lua tables.

It would be possible to support later a version where the key is raw but the value is tagged -- the representation strategy would be a ctable to identify an index into a Lua table.

I have a hacky data structure currently that does associative lookup over any type we can represent, but I don't want to document it or expose it as an interface -- it's necessarily different in interface and implementation than both ctable and Lua tables.


In the end no restriction was needed -- we can just compile generic tables to Lua tables, which don't have nice sublinear lookup for table keys but you can still do `for k,v in pairs(tab)` kinds of things.  See the note in #532.


Closing as done in #532 
